__pycache__/

# pytesting
.pytest_cache/
.mypy_cache/
.coverage

# vscode
.vscode

BEAN
Original_Codes


docs/build/

*.mha 

# this is the teds prior shape
!26wks_AllLabels.mha 


*.png 
!docs/**/*.png
*.nii 
*.nii.gz 

# model weights + config (might want to change this at some point to include them)
*.json

build
fetalbrain.egg-info

**/.DS_Store
