__pycache__/

# pytesting
.pytest_cache/
.mypy_cache/
.coverage

# vscode
.vscode

BEAN
Original_Codes
Old_Code

docs/build/

*.mha 

# this is the teds prior shape
!26wks_AllLabels.mha 


*.png 
!docs/**/*.png
*.nii 
*.nii.gz 

!Tests/testdata/*.nii.gz
!Tests/testdata/alignment/*.png

# model weights + config (might want to change this at some point to include them)
*.json
!config/*.json

build
fetalbrain.egg-info

**/.DS_Store
